* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: Candara Light;
    list-style: none;
}

.main__content-right-upper,
.about__content-right,
.escurs__content-left,
.header__content {
    font-size: 1.1em;
}

.schedl__content-text-lower,
.schedl__content-text-upper,
.schedl__content-text,
.escurs__content-left,
.about__content-right,
.main__content-right-lower,
.main__content-right,
.contact__content-desc,
.feedback__content-left,
.contact__content-left,
.feedback__content-userText .wrapper,
.price__list-item,
.price__content,
.price__item-footer,
#main {
    display: flex;
    flex-direction: column;
}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    line-height: 1.5;
    background-color: #FCFBFA;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

.container {
    max-width: 1195px;
    width: 90%;
    margin: 0 auto;
}

.header__content {
    display: flex;
    align-items: center;
}

.logo {
    width: 50%;
}

.logo__pic {
    width: 3em;
}

.nav {
    width: 50%;
}

.nav__list {
    display: flex;
    justify-content: flex-end;
}

.nav__list-item {
    margin-left: 15px;
}

#main {
    height: 100vh;
    align-items: center;
    position: relative;
}

.main__content {
    width: 100%;
    display: flex;
    align-items: center;
}

.main__content-left {
    background: url(../img/bg.png) center/cover no-repeat;
    width: 50%;
    height: 80vh;
    position: relative;
}

.main__content-left-text {
    width: 101%;
    background-color: rgb(252 251 250 / 80%);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__content-right {
    width: 50%;
    height: 80vh;
    justify-content: space-evenly;
    margin-left: 57px;
}

.main__content-right-lower {
    color: #C00000;
    font-size: 1.3em;
}

.title {
    font-weight: bolder;
    font-size: 2em;
    width: 50%;
}

.about__content {
    display: flex;
    height: 100vh;
    align-items: center;
    background: url(../img/bg2.png) center/contain no-repeat;
    margin-bottom: 41px;
}

.about__content-left {
    width: 40%;
    background: url(../img/Japan.png) center/auto no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
}

.about__content-right {
    width: 60%;
}

.exm__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.exm__content-desc {
    margin: 50px 0;
    background-color: #C00000;
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
}

.exm video {
    width: 61%;
}

.escurs__content {
    display: flex;
    height: 100vh;
    width: 100%;
    margin-bottom: 41px;
    align-items: center;
}

.escurs__content-left {
    width: 50%;
}

.escurs__content-left .bold {
    font-weight: bold;
    font-size: 2em;
}

.escurs__content-left span:last-child {
    margin-top: 25px;
}

.escurs__content-right {
    width: 50%;
    height: 100vh;
    background: url(../img/bg3.png) center/contain no-repeat;
}

.schedl__content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background: url(../img/bg4.jpg) center/cover no-repeat;
    justify-content: center;
}

.schedl__content-text {
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgb(252 251 250 / 70%);
    height: 100%;
    width: 69%;
    margin: 0 auto;
    font-size: 1.39em;
}

.schedl__content-text strong {
    font-weight: 900;
}

.schedl__content-text-lower span {
    color: #C00000;
    font-weight: 900;
}

.price__content {
    align-items: center;
    justify-content: center;
    margin: 51px 0;
}

.price__content-title {
    font-size: 3em;
}

.price__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.price__list-item {
    text-align: center;
    height: 75vh;
    width: 250px;
    box-shadow: 0px 2px 50px -10px rgb(0 0 0 / 30%);
    justify-content: space-evenly;
    padding: 21px;
    margin-right: 35px;
}

.price__item-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    height: 33%;
}

.price__item-body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    height: 33%;
}

.price__item-footer {
    justify-content: space-evenly;
    height: 33%;
}

.price__item-footer div {
    font-size: 2em;
}

.price__item-btn {
    text-align: center;
    padding: 15px 40px;
    color: #fff;
    background: #ff0000;
    border-bottom: 5px solid #111;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    cursor: pointer;
}

.price__item-btn:hover {
    box-shadow: 0 15px 20px rgba(0, 0, 0, .4);
    font-size: 1.3em;
}

.price__separator {
    height: .3px;
    width: 100%;
    background-color: #333;
}

.feedback__content {
    display: flex;
    width: 100%;
    height: 80vh;
}

.feedback__content-left {
    justify-content: space-evenly;
    font-size: 1.3em;
    width: 50%;
}

.feedback__content-right {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    background: url(../img/bg6.png) right/contain no-repeat;
}

.feedback__content-img {
    margin: 0 auto;
}

.contact__content {
    margin: 100px 0;
    height: 80vh;
    display: flex;
    justify-content: space-between;
}

.contact__content-right {
    background: url(../img/bg7.png) center no-repeat;
    height: 100%;
    width: 45%;
}

.contact__content-left {
    justify-content: space-evenly;
    width: 45%;
}

.contact__content-title {
    font-size: 3em;
}

.contact__content-left {
    height: 100%;
    width: 45%;
}

.contact__content-desc {
    margin-bottom: 25px;
}

.up__img {
    display: block;
    width: 7vh;
    height: 7vh;
    position: fixed;
    bottom: 5%;
    right: 3%;
}

.up__img.none {
    display: none;
}